$red: #f38181;
$yellow: #fce38a;
$green: #eaffd0;
$mint: #95e1d3;

// React component styling teckniques

// radium > Radium(component)

// scss
// sass

// CSS Module

// styled-components
// classNames
