.category_list,
.category_search_list {
  position: inherit;
  margin: 20px auto;
  list-style: none;
  width: 650px;
  text-align: center;
  padding: 0;
}

.category_search_list {
  margin: 480px auto 100px auto;
}

.category_title {
  font-size: 16pt;
  margin: 20px;
  text-decoration: underline;
  text-underline-position: under;
}
