.filter_container {
  display: flex;
  border-bottom: 1px solid #364f6b;
  padding-bottom: 15px;
}

.filter_option {
  margin-right: 30px;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 14pt;
  background-color: #fc5185;
  border-radius: 20px;
  color: whitesmoke;
  line-height: 48.5px;
}

.filter_option i {
  margin-left: 5px;
}

.filter_option:hover {
  transition: 0.5s;
  background-color: #3fc1c9;
  cursor: pointer;
}

.dropdown_container {
  display: flex;
}

.dropdown {
  position: relative;
  margin-right: 30px;
  width: 150px;
  text-align: center;
  font-size: 11pt;
  background-color: #fc5185;
  color: #364f6b;
  border-radius: 7px;
  margin-top: 5px;
  z-index: 1;
}

.dropdown div {
  background-color: #95e1d3;
  height: 35px;
  line-height: 35px;
}

.dropdown div:hover {
  background-color: #fc5185;
}
