.Group {
  display: flex;
  margin-bottom: 30px;
  padding: 10px;
}

.Group:hover {
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #eee;
}

.image {
  width: 270px;
  height: 180px;
  background-color: khaki;
  border-radius: 10px;
  border: transparent;
  overflow: hidden;
}

.info_con {
  list-style: none;
  display: block;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.info_con li {
  margin-bottom: 12px;
}

.title_con {
  font-size: 18pt;
}

.title:hover {
  transition: 0.5s;
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  border-radius: 5px;
}

.host {
  font-size: medium;
  margin-left: 10px;
  color: darkblue;
  font-weight: 500;
}

.keywords {
  color: darkgrey;
}

.keyword {
  text-decoration: underline;
  text-underline-position: under;
  margin-right: 10px;
}

.date,
.time,
.member {
  display: flex;
}

.tag {
  width: 130px;
  margin-right: 5px;
}

.value {
  font-weight: 500;
  margin-right: 5px;
}
