/* main slide & category slide*/

.main_slide,
.category_slide {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 400px;
}

.main_slide {
  height: 550px;
}

.category_slide {
  height: 400px;
}

.main_slide h3 {
  font-size: 50px;
  color: aqua;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  background-color: lavender;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 20px;
}

/* text in slide */
/* Sub (category) */
.firstSub {
}

.secondSub {
}

.thirdSub {
}

.forthSub {
}
