/* multi class */
.alert_mark {
  color: red;
}

.btn {
}

.btn:hover {
  outline: none;
}

.btn:focus {
  outline: none;
}

/* registeration form layout */
.user_service_con {
  width: 400px;
  margin: 20px auto;
  padding: 30px 40px;
  border: 1px solid #95e1d3;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.user_service_con:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* title */
.register_title {
  text-indent: 3px;
  font-size: 17pt;
  font-weight: 600;
  color: darkgray;
}

/* input */
.input_con {
  display: block;
}

.input_label_con {
  margin-top: 20px;
  text-indent: 5px;
}

.input_target {
  width: 100%;
  height: 35px;
  margin-top: 7px;
  border-radius: 5px;
  border: 1px solid indigo;
  text-indent: 5px;
  box-sizing: border-box;
}

.input_target:focus {
  outline: none;
}
.input_form {
}

.invalid_msg {
}

.input_label {
  cursor: pointer;
}

.form_button {
  width: 100%;
  height: 40px;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #95e1d3;
}

.form_button:hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: #f38181;
}

.form_button:focus {
  outline: none;
}
