/* 회원가입 & 로그인 & 새그룹 만들기 */

/* 복수 클래스 */
.alert_mark {
  color: red;
}

.invalid_msg {
  margin-top: 4px;
}

/* 회원가입 & 로그인 & 새그룹 만들기 Form */
.Register,
.Login,
.NewGroup {
  margin: 20px auto;
  padding: 30px 40px;
  border: 1px solid #95e1d3;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.Register,
.Login {
  width: 400px;
}

.NewGroup {
  width: 500px;
}

.Register:hover,
.Login:hover,
.NewGroup:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* 로그인 & 회원가입 폼 */
/* title */
.Title {
  text-indent: 3px;
  font-size: 17pt;
  font-weight: 600;
  color: darkgray;
}

/* input */
.input_con {
  display: block;
}

.input_label_con {
  margin-top: 20px;
  text-indent: 5px;
}

.input_target {
  width: 100%;
  height: 35px;
  margin-top: 7px;
  border-radius: 5px;
  border: 1px solid indigo;
  text-indent: 5px;
  box-sizing: border-box;
}

.input_target:focus {
  outline: none;
}

.input_label {
  cursor: pointer;
}

/* 버튼 */
.new_group_btn {
  display: block;
}

.login_btn,
.register_btn,
.new_group_btn {
  width: 100%;
  height: 40px;
  margin: 20px auto 0 auto;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12pt;
}

.login_btn:hover,
.register_btn:hover,
.new_group_btn:hover {
  cursor: pointer;
  transition: 0.3s ease-in;
  background-color: indigo;
}

.login_btn {
  background-color: #f38181;
}

.register_btn {
  background-color: #95e1d3;
}

.new_group_btn {
  background-color: #f38181;
}

.login_btn:focus,
.register_btn:focus,
.new_group_btn:focus {
  outline: none;
}

/* select */
.select_con {
  display: block;
}

.select_label {
  margin-top: 20px;
  text-indent: 5px;
}

.select_con select {
  width: 100%;
  height: 35px;
  margin-top: 7px;
  border-radius: 5px;
  border: 1px solid indigo;
  text-indent: 5px;
  box-sizing: border-box;
}

.select_con select:focus {
  outline: none;
}
